* {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	box-sizing: border-box;
}
.nav {
	width: 17vw;
	margin: 15px 20px;
	flex-direction: row;
	align-items: stretch;
	position: fixed; /*화면고정*/
}

.line {
	border-left: 1px solid rgb(227, 222, 222);
    height:100%;
    margin-left: 17vw;
	position:absolute;
}
.flex--container{
	display: flex;
	flex-direction: column;
	width: 17vw;
}
.logo{
	font-size: 30px;
	height: 20px;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.home{
	line-height: 5;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.search{
	line-height: 5;
	display: flex;
	text-align: center;
	flex-direction: column;
}
.find{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.reels{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.message{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.like{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.add{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.default{
	display: flex;
	line-height: 5;
	height: 25px;
	flex-direction: column;
	text-align: center;
}
.menu{
	line-height: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.icon--img{
	display: flex;
	width: 100%;
	height: 70px;
}
.default--img{
	width: 40px;
	height: 40px;
}


/*center*/
#center {
	width: 56vw;
	position:absolute;
	right: 330px;
	top: 7px;
}
.story {
	display: flex;
	flex-direction: row;
	padding: 16px 0px;
	margin: 16px 0px 0px;
	white-space: nowrap;
	overflow: auto; width: 600px; height: 150px;
}
.story--list {
	display: flex;
	list-style-type: none;
	overflow: auto;
}
.story--list::-webkit-scrollbar {
	display: none;
}
li {
	float: left;
}
.story--img1 {
	display: flex;
	margin: 30px 0 0 8px;
	width: 50px;
	border-radius: 70%;
}
.story--text {
	font-size: small;
	text-align: center;
}
.story2 {
	margin-left: 4px;
}
.story3 {
	margin-left: 4px;
}
.story4 {
	margin-left: 4px;
}
.story5 {
	margin-left: 4px;
}
.story6 {
	margin-left: 4px;
}
.story7 {
	margin-left: 4px;
}
.story8 {
	margin-left: 4px;
}
.story9 {
	margin-left: 4px;
}
.story10 {
	margin-left: 4px;
}
.story11 {
	margin-left: 4px;
}
.poster--section {
	display: flex;
}
.poster--profile {
	display: flex;
	right: 330px;
	margin-top: 35px;
}
.poster--profile--img {
	display: flex;
	margin-left: 90px;
	width: 40px;
	height: 40px;
	border-radius: 70%;
	margin-top: 1px;
}
.poster--text {
	display: flex;
	font-size: 17px;
	font-weight: bold;
}
.poster--hour {
	display: flex;
	margin-left: 15px;
	color: gray;
	font-size: 15px;
	margin-top: 4px;
}
.poster--text--icon {
	display: flex;
	margin-left: 240px;
}
.poster--img {
	display: flex;
	width: 500px;
	margin-left: 90px;
}
.poster--icon1 {
	display: flex;
	flex-direction: row;
}
.poster--like {
	display: flex;
	margin-left: 80px;
	margin-top: 10px;
}
.poster--comment {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 10px;
}
.poster--message {
	display: flex;
	flex-direction: row;
	margin-left: 13px;
	margin-top: 11px;
}
.poster--bookmark {
	display: flex;
	flex-direction: row;
	margin-left: 370px;
	margin-top: 10px;
}
.poster--like {
	display: flex;
	margin-left: 90px;
}
.poster--title {
	display: flex;
	margin-left: 80px;
	margin-bottom: 30px;
}
.comment {
	display: flex;
	margin-left: 70px;
	color: gray;
}
hr {
	display: flex;
	width: 540px;
	margin-left: 80px;
}

/*side*/
.side{
	display: flex;
	flex-direction: column;
	width: 27vw;
	position:absolute;
	right: 40px;
	top: 60px;
}

.profile1{
	width: 50px;
	height: 50px;
	border-radius: 70%;
	margin: 7px;
}
.profile{
	width: 30px;
	height: 30px;
	border-radius: 70%;
}
.profile2{
	width: 50px;
	height: 50px;
	border-radius: 70%;
}
.fow_color{
	color: blue;
	font-size: 13px;
	margin-left: 80px;
}
.fow1_color{
	color: blue;
	font-size: 13px;
	margin-left: 10px;
}
.recommend{
	font-size: 15px;
	color: gray;
}
.all--see{
	font-size: 13px;
	font-weight: bold;
	margin-left: 70px;
}
.user--name{
	font-size: 15px;
	font-weight: bold;
}
.user--name2{
	font-size: 13px;
	color: gray;
}